body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.header-inner {
  background-color: #f3dcbc;
  padding: 0.25rem 0.75rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

.header-title {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #ff9a79;
}

.app-container {
  position: relative;
  background-color: #f3dcbc;
  background-image: url('/bg-no-qm.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
}

#sign-in-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.sign-in-button:hover {
  transform: scale(1.10); 
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  transition: transform 0.3s ease;
  cursor: pointer;
}

.game-container {
  margin-top: 15rem;
  background-color:#f3dcbc;
  border: 1px solid white;
  border-radius: 20px;
  position:relative;
  width: 10rem;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color:#ff9a79
}

.game {
  margin: 1rem;
}

.sign-in-button {
  width: 320px;
  height: auto;
}

.gamelink {
  text-decoration: none;
  color: inherit;
  font-family: 'Lato', sans-serif;
}

.buttons-wrapper {
  background-color:#f3dcbc;
  border: 1px solid white;
  border-radius: 20px;
  width: 7rem;
  height: auto;
  left:50%;
  position: relative;
  transform: translateX(-50%);
  color:#ff9a79;
  padding: 0 .5rem;
  margin-left: .2rem;
}

.buttons-wrapper-left {
  background-color:#f3dcbc;
  border: 1px solid white;
  border-radius: 20px;
  width: 7rem;
  left:50%;
  position: relative;
  transform: translateX(-50%);
  color:#ff9a79;
  justify-self: center;
  height: auto;
  margin: 1rem;
  padding: 0 .5rem;
}

.buttons {
  font-family: 'Lato', sans-serif;
  font-size:medium;
  text-align: center;
}

.button-grandpa {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  align-items: center; 
  gap: 0.5rem,; 
  width: 30%;
  max-width: 30rem;
  margin: auto;
  margin-bottom: 300px;

}


.question {
  color:#ff9a79;
  width: 15rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align:center;
  font-family: 'Lato', sans-serif;
  background-color: #f3dcbc;
  padding: .3rem;
  border-radius: 20px;
}

.answers-container{
  display: flex;
  flex-direction: column;
  width: 10rem;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.answers{
  border: 1px solid white;
  border-radius: 20px;
  color: #ff9a79;
  background-color: #f3dcbc;
  font-size: medium;
}

.answers:hover{
  color: #f3dcbc;
  background-color: #ff9a79;
  cursor: pointer;
  
}

.game-section{
  display: flex;
  flex-direction: column;
  background-color: #f3dcbc;
  width: 18.8rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 0px;
  margin-top: 7rem;
}

.score{
  font-family: 'Lato', sans-serif;
  width: 7rem;
  align-self: center;
  position:static;
  background-color: #f3dcbc;
  text-align: center;
  border: 1px solid white;
  color:rgb(115, 114, 114);
}

.game-container:hover{
  background-color: #ff9a79;
  color: #f3dcbc;
  cursor: pointer;
}

.buttons-wrapper:hover{
  background-color: #ff9a79;
  color: #f3dcbc;
  cursor: pointer;
}
.buttons-wrapper-left:hover{
  background-color: #ff9a79;
  color: #f3dcbc;
  cursor: pointer;
}

.eg-container{
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.game-over{
  color: #ff9a79;
}

.ur-score{
  color: #ff9a79;
}


.pa-link{
  text-decoration: none;
  color: inherit;
  font-size:1.6rem;
  color: #ff9a79;
  background-color: #f3dcbc;
  border: 1px solid white;
  width: fit-content;
  padding: .4rem;
  align-self: center;
  border-radius: 20px;
  padding: .5rem;
  margin-top: 1.5rem;
}

.pa-link:hover{
  color:#f3dcbc;
  background-color: #ff9a79;
}

.diff-grandpa {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.diff-wrapper{
  background-color:#f3dcbc;
  border: 1px solid white;
  border-radius: 20px;
  width: 7rem;
  height: auto;
  left:50%;
  position: relative;
  transform: translateX(-50%);
  color:#ff9a79;
  margin: 1rem 0;
}

.diff-wrapper:hover{
  background-color: #ff9a79;
  color: #f3dcbc;
  cursor: pointer;
}

.loading{
  font-family: 'Lato', sans-serif;
  position: relative;
  width: 6.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #ff9a79;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.loading::after {
  content: '...';
  animation: blink 1s infinite;
  animation-delay: 0s;
}

.footer-container{
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color:#f3dcbc;
  border: 2px solid white;
  border-radius: 20px;
  padding: 0 1rem;
  height: 3rem;
  bottom: 2rem;
  align-items: center;
}

.footer-inner{
  font-family: 'Lato', sans-serif;
  color:#ff9a79;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-size: medium;
  padding: 0 2rem;
}
.text-wrapper:hover{
  background-color: #ff9a79;
  border-radius: 20px;
  color: #f3dcbc;
  cursor: pointer;
}

.qm {
  height: 35rem;
  animation: dance 2s infinite;
  
}

@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: rotate(10deg) translateY(-5px);
  }
  50% {
    transform: rotate(-10deg) translateY(5px);
  }
  75% {
    transform: rotate(10deg) translateY(-5px);
  }
}

/* Styles for larger screens */
@media (min-width: 1150px) {
  .button-grandpa {
    max-width: 60rem;
  }

  .buttons-wrapper {
    padding: 0 1rem; 
    width: 5.5rem;
    margin-left: -1rem;
  }

}


@media (min-width: 1400px) {

  .buttons-wrapper {
    margin-left: -2rem;
  }
}


@media (min-width: 1500px) {

  .buttons-wrapper {
    margin-left: -1rem;
  }
}


@media (min-width: 1550px) {
  .buttons-wrapper {
    margin-left: -2rem;
  }
}



@media (min-width: 1640px) {
  .buttons-wrapper {
    margin-left: -2.5rem;
  }
}

@media (min-width: 1650px) {
  .buttons-wrapper {
    margin-left: -3rem;
  }
}



@media (min-width: 1665px) {

  .buttons-wrapper {
    margin-left: -4rem;
  }
}


@media (min-width: 1690px) {

  .buttons-wrapper {
    margin-left: -4rem;
  }
}


@media screen and (max-height: 650px) {
  .header-container {
      display: none;
  }
}

@media screen and (max-height: 500px) {
  .buttons-wrapper, .buttons-wrapper-left {
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
  }
}

@media screen and (max-height: 900px) {
  .game-section{
      margin-top: 0.1rem;
  }
}

@media screen and (max-height: 512px) {
  .footer-container {
     display: none;
  }
}